---
import BaseHead from "@/components/BaseHead.astro";
import Blog from "@/components/react/pages/blog";
import ThemeButton from "@/components/ThemeButton.astro";
import { getAllTagsAndYears } from "@/libs/blog";
import { getPostList } from "@/libs/posts";

const allPosts = getPostList();
const { tags, years } = getAllTagsAndYears();
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title="bluenex's blog"
      description="A personal blog for sharing anything that piques my interest."
    />
  </head>
  <body>
    <div class="container relative mx-auto md:max-w-2xl">
      <ThemeButton class="absolute right-8 top-8 z-10 md:right-0" />
    </div>

    <Blog allPosts={allPosts} tags={tags} years={years} client:load />
  </body>
</html>
