---
import BaseHead from "@/components/BaseHead.astro";
import Home from "@/components/react/pages/home";
import ThemeButton from "@/components/ThemeButton.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <div class="relative container mx-auto sm:max-w-xl">
      <ThemeButton class="absolute top-10 right-10 z-10 md:right-4" />
    </div>

    <Home client:load />
  </body>
</html>
