---
import BaseHead from "../components/BaseHead.astro";
import Home from "../components/react/pages/home";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <Home client:load />
  </body>
</html>
