---
import BaseHead from "../components/BaseHead.astro";
import ThemeButton from "../components/ThemeButton.astro";
import TwResumeLayout from "../components/react/components/TwResumeLayout";

// import { NotionAPI } from "notion-client";
// import ResumePage from "../components/react/pages/resume";

// const notion = new NotionAPI();
// const recordMap = await notion.getPage("879d3cc457ad4a128bcae5f731ebf5c7");
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="bluenex's resume" description="" />
  </head>
  <body>
    <div class="container relative mx-auto md:max-w-2xl">
      <ThemeButton class="absolute right-8 top-8 z-10 md:right-0" />
    </div>

    <!-- <ResumePage recordMap={recordMap} client:load /> -->
    <TwResumeLayout>
      <div class="flex w-full flex-1">
        <div class="mx-auto w-full max-w-screen-md">
          <!-- embeded from Canva -->
          <div
            style="position: relative; width: 100%; height: 0; padding-top: 141.4286%;
              padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 0em; margin-bottom: 2em; overflow: hidden;
              border-radius: 8px; will-change: transform;"
          >
            <iframe
              loading="lazy"
              style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
              src="https://www.canva.com/design/DAGbtjAa7V8/vjNVO0mPSx6ANVNJQSy7JA/view?embed"
              allowfullscreen="allowfullscreen"
              allow="fullscreen"
            >
            </iframe>
          </div>
        </div>
      </div>
    </TwResumeLayout>
  </body>
</html>
