---
import { NotionAPI } from "notion-client";
import BaseHead from "../components/BaseHead.astro";
import ResumePage from "../components/react/pages/resume";
import ThemeButton from "../components/ThemeButton.astro";

const notion = new NotionAPI();
const recordMap = await notion.getPage("879d3cc457ad4a128bcae5f731ebf5c7");
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="bluenex's resume" description="" />
  </head>
  <body>
    <div class="container relative mx-auto md:max-w-2xl">
      <ThemeButton class="absolute right-8 top-8 z-10 md:right-0" />
    </div>

    <ResumePage recordMap={recordMap} client:load />
  </body>
</html>
